QMenuBar {
    background-color: #cfd0d1;
    color: #444444;
    font: bold 14px;
}

QMenuBar::item {
    background-color: #cfd0d1;
    color: #444444;
    padding: 5px;
}

QMenuBar::item::selected {
    background-color: #444444;
    color: #f0f0f0;
}

QMenu {
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #444;
}

QMenu::item::selected {
    background-color: #555555;
    color: #f0f0f0;
}
